body {
    background-color: #121212;
}

.equipo-section {
    display: flex;
    padding: 10px 10px 100px;
    gap: 20px;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.equipo-item {
    background-color: #1e1e1e;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    overflow: hidden;
    width: 20%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.equipo-item:hover {
    transform: scale(1.05);
}

.equipo-item img {
    width: 70%;
    height: auto;
}

.equipo-content {
    padding: 15px;
}

.equipo-content h3 {
    color: #ffd6c7;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.equipo-content p {
    margin: 5px 0;
    color: #b5b5b5;
}
